body{
    
    display:flex;
    flex-direction:column;
    align-items:center;
}

button{
    width:130px;
    height:50px;
    font-size:15px;
    border:none;
    background-color:rgb(255, 151, 212);
    color:rgb(245, 234, 234);
    border-radius: 40px;
   
  
    

}
.box{
    width:250px;
    height:250px;
    background-color: paleturquoise;
    margin:44px auto;
}