body{
    
    margin: 10px;
}
.main_box{
    padding: 25px;
    display: flex;
    justify-content: center;
    
}
.info_container {
    background-color: #f3f4f7;
    width: 418px;
    height: 346px;
    margin: 0px ;
    padding: 25px;
    
    

}
.info_container span{
    color:#4eaf4e;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    

}
.info_container h2{
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
    padding:0 ;
    color:#2d2d37;
    margin-top: 0px;
    


}
.info_container p{
    font-family: 'Manrope', sans-serif;
    display: block;
    margin-bottom: 30px;
    font-size: 15px;
    color: #6f6f6f;
    line-height: 1.8;
    font-weight: 500;
    display: block;
    padding: 0 ;

}
.info_container a { 
    background-color:#4eaf4e ;
    color: white;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    border-radius: 5px;
    border: none;
    padding: 13px 50px 13px 35px;
    font-weight: 700;
    margin-left: 0px;
    margin-top:15px ;
    

}
.main_box img{
    width: 468px;
    height: 396px;
    margin: 0px;
}
.sevices_head h3{
    color:#4eaf4e;
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
    

}
.sevices_head h1{
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 580;
    font-family: 'Poppins', sans-serif;
    color: #2d2d37;

}
.services_container{
   
    display: flex;
    justify-content:space-evenly;
   
}
.service_info{
    display: inline-block;
    margin: 150px;
    height: 30px;

   
}





.services_container img{
    display: flex;
    justify-content: space-around;
    width: 295.98px;
    height: 159.34px;
    margin: 0px auto
}
.services_container h3{
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px;
    display: flex;
    justify-content:space-around;
    margin-top: 25px;
    margin-bottom: 0px;
    color: #2d2d37;

    

}




