.parent{
    margin: 0 auto;
    border: 3px solid;
    width: 700px;
    height: 350px;
    background-color: rgb(223, 160, 181);
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
    padding-top: 60px;
    box-sizing: border-box;
    

}
.child{
    
    border: 3px solid;
    width: 600px;
    height: 150px;
    background-color: green;
    position: absolute;
    bottom: 70px;
    left: 55px;
    align-items: center;
    padding-top:63px;
    box-sizing: border-box;
}
.element{
    
    border: 3px solid;
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    bottom: -90px;
    left: 90px;
    align-items: center;
    padding-top: 80px;
    box-sizing: border-box;
}
